body{
background-color: #3d0642;
color:rgb(128, 101, 126);
text-align: center;
align-items: center;
font-size: 25px;
padding: 0 24px;
}
.cabecalho{
    color: rgb(15, 1, 9);
    font-size: 60px;
}
.titulo-principal{
font-size: 40px;
}
